<?php

$this->config = array(
  // Session
  "sessionTTL" => 3600,

  // Sparkle Manager
  "debug" => true,
  "debugLevel" => 7,

  // MySQL
  "mysqlHost" => "localhost",
  "mysqlPort" => 3306,
  "mysqlUser" => "sudo",
  "mysqlPass" => "male_me_a_sandwich",
  "mysqlDb" => "commit_strip_<3",
  "mysqlCharset" => "utf8"
);